# App Configuration
APP_ENV=
APP_HOST=
APP_PORT=

# OpenAI Configuration
OPENAI_API_KEY=
OPENAI_MODEL=

# SMTP Configuration
SMTP_HOST=mailhog
SMTP_PORT=1026
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=no-reply@educhatbot.local
SMTP_USE_TLS=false

# Auth
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_DAYS=7
AUTH_COOKIE_NAME=access_token
